$MAIN_COLOR: #433d80;
// $HEADER_HEIGHT: 80px;
$NAV_WIDTH: 240px;

// renewal variable


$HEADER_HEIGHT: 72px;
$HEADER_BACKGROUND: #433d80;

$HEADER_LOGIN_WIDTH: 70px;
$HEADER_PADDING: 25px;


//NamePlate

$NAME_PLATE_PADDING: 10px;




$MAIN_PADDING: 70px;



//account seeting popup 관련 변수

$SETTING_POPUP_WIDTH: 300px;
$SETTING_POPUP_MIN_HEIGHT: 200px;
$SETTING_RIGHT: calc( #{$HEADER_PADDING} + #{$NAME_PLATE_PADDING} );



/////////////overlay
$OVERLAY_BACKGROUND: #d8c0cc;




