$MAIN_COLOR: #433d80;
// $HEADER_HEIGHT: 80px;
$NAV_WIDTH: 240px;

// renewal variable


$HEADER_HEIGHT: 72px;
$HEADER_BACKGROUND: #433d80;

$HEADER_LOGIN_WIDTH: 70px;
$HEADER_PADDING: 25px;





$MAIN_PADDING: 70px;



//account seeting popup 관련 변수

// $SETTING_WIDTH:



/////////////overlay
$OVERLAY_BACKGROUND: #d8c0cc;




