@import '../varilable';
@import '../mixins';

//구글 나눔 고딕 폰트 임포트


@include NanumGothic('../font/Google_NanumGothic/NanumGothic-Regular.ttf');

.container {
  font-family: 'Nanum Gothic', sans-serif;
  position: fixed;

  right: $SETTING_RIGHT;
  top: $HEADER_HEIGHT + 10px;


  width: $SETTING_POPUP_WIDTH;
  padding: 5px;


  background-color: $SETTING_POPUP_CONTAINER_BACKGROUND_COLOR;

  border: none;
  border-radius: 28px;
  box-shadow: 0 4px 8px 3px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);

  .content-container {
    border: none;
    border-radius: 28px;
    background-color: #fff;

    .content {
      display: flex;
      box-sizing: border-box;
      border-radius: inherit;

      align-items: center;
      height: 40px;

      &:hover {
        background-color: #d3d3d3;
        cursor: pointer;
      }

      .button{
        padding: 0.5rem 2.5rem 0.5rem 1rem;

        font-family: inherit;
        font-weight: bold;
      }
    }
  }
}