@import '../varilable';


.container {
  position: fixed;

  right: $SETTING_RIGHT;
  top: $HEADER_HEIGHT + 10px;


  width: $SETTING_POPUP_WIDTH;
  min-height: $SETTING_POPUP_MIN_HEIGHT;


  background-color: #fff;

  border: none;
  border-radius: 28px;
  box-shadow: 0 4px 8px 3px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);
}