.plate-container{
  // background-image: url('../../img/NameFlower4.svg');
  // background-size: contain;
  // background-repeat: no-repeat;


  width: 100%;
  height: 100%;
  padding: 10px;

  .plate-content {

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: cover;
  }
}