input[type=checkbox]{
  border: solid 1px black;
  width: 10px;
  height: 10px;
}

.guset-book{
  width: 100%;
  height: 100%;
  padding: 0px 360px 0px 60px;

  .title-wrapper{
    height: 100px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;

    display: flex;
    justify-content: center;
    align-items: center;

    color: palevioletred;
    font-weight: bold;
    font-size: 50px;
  }
  .editor-wrapper{
    height: 360px;
    background-color: beige;
    padding-top: 30px;
    padding-bottom: 30px;

    .user-info-wrapper{
      height: 50px;
      margin-top: 5px;
      margin-bottom: 5px;

      display: flex;
      align-items: center;

      .user-name-wrapper{
        width: 50%;
        height: 100%;
        // background-color: rebeccapurple;
        display: flex;
        border-collapse:collapse;
        align-items: center;

        padding-top: 10px;
        padding-bottom: 10px;

        .user-name-icon{
          height: 100%;
          width: 40px;

          border: solid 1px black;

          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;

          background-image: url('../img/person-icon.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-color: white;
          background-position: center;

        }
        .user-name-input-wrapper{
          height: 100%;
          border: solid 1px black;
          border-radius: 0 8px 8px 0;
          border-left: 0;
          input{
            height: 100%;
            outline: none;

            border-radius: 0 8px 8px 0;
          }
        }

      }

      .user-password-info{
        width: 50%;
        height: 100%;
        // background-color: rebeccapurple;
        display: flex;
        border-collapse:collapse;
        align-items: center;

        padding-top: 10px;
        padding-bottom: 10px;

        .user-password-icon{
          height: 100%;
          width: 40px;

          border: solid 1px black;

          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;

          background-image: url('../img/key_icon.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-color: white;
          background-position: center;
        }

        .user-password-input-wrapper{
          height: 100%;
          border: solid 1px black;
          border-radius: 0 8px 8px 0;
          border-left: 0;
          input{
            height: 100%;
            outline: none;

            border-radius: 0 8px 8px 0;
          }
        }
      }

    }

  }
  .board-wrapper{

  }
  .pagination-wrapper{

  }
}