input[type=checkbox]{
  border: solid 1px black;
  width: 10px;
  height: 10px;
}

.guset-book{
  width: 100%;
  height: 100%;
  padding: 0px 360px 0px 60px;

  .title-wrapper{
    height: 100px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;

    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: palevioletred;
    font-weight: bold;
    font-size: 50px;
  }
  .editor-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;

    .user-info-wrapper{
      height: 60px;
      margin-top: 5px;
      margin-bottom: 5px;

      display: flex;
      align-items: center;

      .user-name-wrapper{
        width: 50%;
        height: 100%;
        margin-left: 30px;
        // background-color: rebeccapurple;
        display: flex;
        border-collapse:collapse;
        align-items: center;

        padding-top: 10px;
        padding-bottom: 10px;

        .user-name-icon{
          height: 100%;
          width: 40px;

          border: solid 1px rgb(150, 147, 147);

          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;

          background-size: 80%;
          background-repeat: no-repeat;
          background-position: center;

        }
        .user-name-input-wrapper{
          height: 100%;
          width: 60%;
          min-width: 30%;
          border: solid 1px rgb(150, 147, 147);
          border-radius: 0 8px 8px 0;
          border-left: 0;
          input{
            height: 100%;
            width: 100%;
            outline: none;

            padding: 10px 7px;

            border-radius: 0 8px 8px 0;
          }
        }

      }

      .user-password-info{
        width: 50%;
        height: 100%;
        // background-color: rebeccapurple;
        display: flex;
        border-collapse:collapse;
        align-items: center;

        padding-top: 10px;
        padding-bottom: 10px;

        .user-password-icon{
          height: 100%;
          width: 40px;

          border: solid 1px rgb(150, 147, 147);

          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;

          background-size: 80%;
          background-repeat: no-repeat;
          background-position: center;
        }

        .user-password-input-wrapper{
          height: 100%;
          width: 60%;
          min-width: 30%;
          border: solid 1px rgb(150, 147, 147);
          border-radius: 0 8px 8px 0;
          border-left: 0;
          input{
            width: 100%;
            height: 100%;
            outline: none;

            padding: 10px 7px;

            border-radius: 0 8px 8px 0;
          }
        }
      }

    }

    .board-input-wrapper{
      height: 300px;

      padding: 20px;

      text-align: right;

      textarea{

        width: 100%;
        height: 80%;
        resize: none;
      }

      button{
        margin-top: 10px;
        height: 30px;
      }

    }

  }
  .reply-wrapper{
    width: 100%;
    min-height: 70px;
    height: 70px;
    padding: 0 20px;

    // background-color: aqua;

    border-top: solid 1px rgb(63, 60, 60);
    border-bottom: solid 1px rgb(63, 60, 60);

    .reply{
      width: 100%;
      min-height: 70px;
      height: 70px;
      height: 100%;
      display: flex;

      .reply-info{
        width: 100px;
        height: 100%;

        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .reply-content{
        width: calc(100% - 100px);
        height: 100%;
        padding: 10px 30px;
        // background-color: blue;
      }
    }
  }
  // .pagination-wrapper{

  // }
}