@import "./reset.scss";
@import "./scss/varilable";

*{
  box-sizing: border-box;
}

html, body, #root, .App, .top-container {
  height: 100%;
  // padding: 0px 0px 120px;
}


html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.top-container{
  // margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  // margin: 0 auto;
  height: $HEADER_HEIGHT;

  width: 100%;

  z-index: 100;
  background-color: black;

  padding-top: 10px;
  padding-bottom: 10px;


  .header-pc{
    height: $HEADER_HEIGHT;
    display: block;
  }
  
  .header-moblie{
    height: $HEADER_HEIGHT;
    display: none;

    img{
      max-height: $HEADER_HEIGHT - 20px;
    }
  }

}

.nav{
  position: fixed;
  padding-top: $HEADER_HEIGHT;
  width: $NAV_WIDTH;
  height: calc(100% - 64px);


  z-index: 20;

  background-color: cadetblue;

}

.center-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

}

.center-wrapper.nickname-wrapper{
  color: orange;

  .child{
    margin-bottom: 5px;
  }
}



main{
  width: 100%;
  height: 100%;

  padding-left: $NAV_WIDTH;
  padding-top: $HEADER_HEIGHT;
}

@media (max-width: 991px) {
  main{
    padding-left: 0;
  }
  .nav{
    opacity: 0;
    z-index: -1;
    top: -200px;
  }

  .nav.on{
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: auto;
    top: 0;
    padding-top: $HEADER_HEIGHT;
    box-sizing: border-box;
    transition: top 0.5s;

    .nav-flex-child{
      align-items: center;
      margin-bottom: 5px;
    }
  }

  .header {
    .header-pc{
      display: none;
    }
  
    .header-moblie{
      display: block;
    }
  }
}



