
.top-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh;
}
.nav-wrapper {background-color: rgb(78, 19, 214); height: inherit;}


.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items:;


  .nav-flex-child{
    .nav-flex-child-link{
      color: white;
      text-decoration: none;
    }
  }
}






/* 공통 css? */

.inline-block {display: inline-block;}
.text-left {text-align: left;}
// .justify-center {justify-content: center;}
.text-white {color: white;}